# Binaries without extensions.
*
!*/
!*.*
!dune
!dune-project

# IDE artifacts.
.merlin/
.vs/
.vscode/settings.json
*cache*/

# Build artifacts.
_build/
bin/
build/
dist/
node_modules/
obj/
target/
BenchmarkDotNet.Artifacts/
*.o
*.out
*.exe
Cargo.lock
package-lock.json
